*{
    margin: 0;
  padding: 0;
  overflow: hidden;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.main{
    height: 100%;
    width: 100%;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box{
    position: absolute;
    height: 60%;
    width:23%;
    margin-left: 38%;
    margin-top: 60px;
    
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 4px 8px    #eeeeee;
    
}

.snaplogo{
    height: 52px;
    width: 19%;
    margin-left: 39%;
    margin-top: 5%;
}
.login{
    margin-left: 38%;
    font-size: 23px;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    
    
    
}

.pcenter{
    text-align: center;
    color: #656b73;
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
}
.signupinfo{
  
    margin-top: 35%;
    margin-left: 660px;
    font-style: normal;
    line-height: 23px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;

}   
.name{
    color: #656b73;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    margin-top: 7%;
    margin-left: 22px;
}

.input{
    margin-top: 3px;
    margin-left: 22px;
    background-color: #f7f7f7;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 85%;
    height: 40px;
    border-style: none;
    border-radius: 5px;

}
.lastlog{
    
    margin-left: 37%;
    margin-top: 33px;
    border-color: #fffb00;
    border-style: solid;
    margin-right: 37%;
    text-align: center;
    font-style: normal;
    font-size: 13px;
    line-height: 17px;
    font-weight: 550;
    border-radius: 20px;
    border-width: 10px;
    background-color:#fffb00 ;
    cursor: pointer;

}
.forgotpass{
    color: #656b73;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    margin-left: 64%;
    margin-top: 2px;
    cursor: pointer;
    
}
.corsour{
    cursor: pointer;
}


